In [1]:
import pandas as pd
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import pickle

In [2]:
# Read dataset from csv file.
x = pd.read_csv('dataset.csv')

In [3]:
x.head()

,Project name,Sector,Budget,Skilled workers,Unskilled workers,Salary for skilled workers,Salary for unskilled workers,Skilled workers age low,Skilled Workers age high,Unskilled workers age low,Unskilled workers age high,Time required,place of project
0,polavaram,rural,9000,1500,3000,45000,15000,25,55,25,35,5,andhra pradesh
1,kaleswaram dam,rural,5000,800,1800,35000,15000,25,55,25,35,3,telangana
2,vizag metro,urban,1000,500,1000,45000,15000,25,55,25,35,3,andhra pradesh
3,solar park,urban,800,100,500,45000,15000,25,55,25,35,1,gujarat
4,gift city gujarath,urban,600000,15000,3000,50000,15000,25,55,25,35,4,gujarat

In [4]:
# Fine-tuning the sector.
z = x['Sector'].drop_duplicates()
for i, j in enumerate(z):
    x['Sector'] = x['Sector'].replace(j, i)

In [5]:
x.head()

,Project name,Sector,Budget,Skilled workers,Unskilled workers,Salary for skilled workers,Salary for unskilled workers,Skilled workers age low,Skilled Workers age high,Unskilled workers age low,Unskilled workers age high,Time required,place of project
0,polavaram,0,9000,1500,3000,45000,15000,25,55,25,35,5,andhra pradesh
1,kaleswaram dam,0,5000,800,1800,35000,15000,25,55,25,35,3,telangana
2,vizag metro,1,1000,500,1000,45000,15000,25,55,25,35,3,andhra pradesh
3,solar park,1,800,100,500,45000,15000,25,55,25,35,1,gujarat
4,gift city gujarath,1,600000,15000,3000,50000,15000,25,55,25,35,4,gujarat

In [6]:
# Fine-tuning the location of project.
z = x['place of project'].drop_duplicates()
for i, j in enumerate(z):
    x['place of project'] = x['place of project'].replace(j,i)

In [7]:
x.head()

,Project name,Sector,Budget,Skilled workers,Unskilled workers,Salary for skilled workers,Salary for unskilled workers,Skilled workers age low,Skilled Workers age high,Unskilled workers age low,Unskilled workers age high,Time required,place of project
0,polavaram,0,9000,1500,3000,45000,15000,25,55,25,35,5,0
1,kaleswaram dam,0,5000,800,1800,35000,15000,25,55,25,35,3,1
2,vizag metro,1,1000,500,1000,45000,15000,25,55,25,35,3,0
3,solar park,1,800,100,500,45000,15000,25,55,25,35,1,2
4,gift city gujarath,1,600000,15000,3000,50000,15000,25,55,25,35,4,2

In [8]:
feature_df = x[['Sector', 'Budget', 'Time required']]
target1 = x['Skilled workers']
target2 = x['Unskilled workers']

In [12]:
reg1 = RandomForestRegressor(n_estimators=100)
reg1.fit(feature_df, target1)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [14]:
reg1.score(feature_df, target1)

0.8435731750002389

In [15]:
reg2 = RandomForestRegressor(n_estimators=100)
reg2.fit(feature_df, target2)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [16]:
reg2.score(feature_df, target2)

0.8611896735005454

In [11]:
# Saving the trained Regressor

with open('Skilled_Workforce_Predictor.pickle','wb') as f :
    pickle.dump(reg1, f)

with open('Unskilled_Workforce_Predictor.pickle','wb') as f :
    pickle.dump(reg2, f)

In [12]:
# Loading the saved Regressor
pickle_skilled = open('Skilled_Workforce_Predictor.pickle','rb')
reg1 = pickle.load(pickle_skilled)

pickle_unskilled = open('Unskilled_Workforce_Predictor.pickle','rb')
reg2 = pickle.load(pickle_unskilled)

In [13]:
test_sector = input("Enter 0 for rural areas and 1 for urban areas : ")
test_budget = input("Enter budget amount(in Crores) : ")
test_duration = input("Enter the time within which the project should be completed : ")

Enter 0 for rural areas and 1 for urban areas :  1
Enter budget amount(in Crores) :  111
Enter the time within which the project should be completed :  1

In [14]:
Feature = [test_sector, test_budget, test_duration]
print("Number of Skilled workers needed are : ", int(reg1.predict([Feature])))
print("Number of Unskilled workers needed are : ", int(reg2.predict([Feature])))

Number of Skilled workers needed are :  100
Number of Unskilled workers needed are :  1013